body {
    background-color: skyblue; font-family: "Source Sans Pro", Verdana,sans-serif;
    letter-spacing: 0.5px; line-height: 23px;
}

ul {
    list-style-type: none;
}

h1{ /** Formatting largest text size of mission statement **/
    font-size: 36pt; line-height: 50px; 
    margin-top:0.25rem; margin-bottom: 0.25rem; 
}

h2 { 
    font-weight: 300; font-size: 24pt;
}

p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.nav-bar { /** Formats the navigation bar at the top of each page **/
    display:flex; justify-content: center; align-items: center;
    background-color: #68A0A1; color: white;
    padding:0.05rem 0.15rem 0.05rem 0.15rem;
    margin-bottom: 4rem;
    font-size: 14pt;
    letter-spacing: 1px;
    border-radius: 0.5rem;
}

.nav-bar div {
    flex:2; 
    text-align: center;
    padding:1rem; 
}

.nav-bar a {
    flex:1;
    text-decoration: none; color:white;
}

.logo {
    flex:1 1 auto;
    object-fit: contain;
    max-width: 100%;
    padding:0; margin:0;
}

.nav-bar>.long-bar {
    flex:3;
}

/** Intro box **/

.topic-intro {
    display:flex;
    justify-content: center; align-items: center;
    padding: 0 2.5% 0 2.5%;
    gap:1rem;
}

.topic-intro .title {
    flex:3;
}

.topic-intro>.image {
    flex:1;
}

.topic-intro img{
    width:100%; height:auto;
}

.top-blurb {
    display:flex; flex-direction: column;
    background-color: #7bb957; color:white;
    padding: 0;
    border-radius: 1.5rem;
}

.top-blurb h2 {
    padding: 2rem 3rem 0rem 3rem; margin:1rem;
    font-size: 24pt; font-weight: 500;  line-height: 36px;
    border-bottom: none;
}

.top-blurb p {
    background-color: #ffd664; color:#6D5676;
    padding: 0.5rem 4rem 1rem 4rem; margin: 0;
    border-radius: 1.5rem; border-top-left-radius: 2rem; border-top-right-radius: 2rem;
}

/** start of mid page with text box and image **/

#mid-page {
    margin: 0.5rem 15% 0.5rem 15%;
    font-size: 12pt; font-weight: 400;
}

#mid-page h2{
    margin-bottom: 0.5rem; padding-bottom: 0.5rem;
    border-bottom:black 2px solid;
}

.mid-bg {
    padding: 0.5rem; 
    display:flex; flex-direction: row; gap:3rem;
    justify-content: center; align-items: center;
}

.mid-image-subtitle p{ /** centers the subtitle below the displayed image in the mid-bg div **/
    text-align:center;
}

.mid-img { /** Displays reggi eating wood image on diet page. Fix later **/
    flex:1 1 auto;
    object-fit: contain;
    max-width: 100%;
    text-align: center;
}

.mid-blurb { /** Displays the text alongside the mid page image **/
    flex: 1 4 auto;
    padding: 1rem;
}

/** Color change in the mid page **/

.object-list {
    display:flex; justify-content: space-between; align-items: center; gap:1rem;
    padding:1rem ;
}

.object-list>div{
    flex:1 1 100%; padding-top: 8.75%; padding-bottom: 8.75%;
}

/** Generic segment code for reuse **/


.generic-padding {
    padding:  1rem 12.5% 1rem 12.5%; 
}

.generic-padding-larger {
    padding:  1rem 6.25% 1rem 6.25%; 
}

.purple-bg {
    background-color: #6D5676; 
}

.generic-quote {
    background-color: #EBF8DD; color: #68A0A1;
}

.generic-info-box {
    margin:0 15% 0 15%;
}

.generic-underline {
    border-bottom:black 2px solid;
}

.generic-info-box h2 {
    padding:0.75rem;
    margin:0.25rem;
    padding-bottom: 0.5rem;
}

.generic-info-box p {
    padding:0.25rem 0.75rem 0.25rem 0.75rem;
    margin:0.25rem;
}

.generic-info-box ul {
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap:0.5rem;
    padding:0.5rem; margin:0.25rem 0.25rem 1rem 0.25rem;
}

.generic-info-box li {
    flex:1 1 auto;
    padding:1rem 0.5rem 1rem 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #BAE5E5;
}

.mid-color-change{ /** Formats a color change for second section of body. Removes h2 underlines **/
    background-color: #EBF8DD;
    padding:0.5rem 15% 0.5rem 15%; margin:1rem 0rem 1rem 0rem;
}

.mid-color-change>h2{
    margin-bottom: 0.25rem;
}

.generic-flex-contain { /** generic flex container class for quick use or testing **/
    display:flex;
}
.generic-flex-item { /** generic flex item class for quick use or testing **/
    flex:1
}

/** Page Quotes **/

.pagequote {
    background-color: #EBF8DD; color: #68A0A1;
    text-align: right;
    padding:2rem 2rem 2.5rem 2rem;
    margin: 2rem 0 2rem 0;
}

.pagequote p {
    margin: 0.5rem 0 0 0;
}


/** Swimming Reggi **/

.swimming-reggi {
    display: flex; justify-content: right;
    margin-top:12rem;
}

.swimming-reggi img {
    flex:0 1 auto; margin-right: 1.5rem;
    object-fit: contain;
    max-width: 40vw;
}

.copyright {    
    text-align: right; font-size: 10pt; color:#6D5676;
    padding: 0.75rem; margin:0.25rem;
}

/** page specific code **/

/** overview code **/

.overview-reg { /** Displays reggi image on overview page **/
    object-fit: contain;
    width:45vw;
}

.tax {
    flex: 7; margin:0 1rem 0 0.5rem;
}

.phi {
    flex: 6; margin:0 0.5rem 0 1rem;
}

/** diet code **/

.eaten-list{ /** Centers the text specifically for the consumed section on diet **/
    text-align:center
}

.eaten-list>p:nth-child(2) { /** remove the gap between the text and list in consumed section of diet **/
    margin-top:0.25rem; margin-bottom: 0.5rem;
}

/** about us code **/
#about-us>h2:first-child {
    text-align: center; color:white; margin-bottom:0;
}

.about-us-bg {
    background-image: url("Images/about-us-bg.jpg"); background-repeat: no-repeat; background-position-y: -1.3in;
}

.about-us-display{ /** flex container for mission statement and info **/
    display: flex; align-items: flex-end; gap:1rem; color:white;
}

.about-us-display h2{ /** better line height for h2 elements **/
    line-height: 32px;
}

.about-us-column {
    display: flex; flex-direction: column;
}

.about-us-large-text { /** large text for about us opening **/
    flex:0 5 auto;
}

.about-us-medium-text {
    flex:0 5 auto;
}

.about-us-small-text {
    flex:1 0 75%;
    line-height: 28px;
    font-size: 14pt;
    font-weight: 300;
}

.about-us-quoteboxes {
    display:flex; justify-content: space-evenly; gap:5rem; padding-top: 3rem; padding-bottom: 1rem;
}

.about-us-quoteboxes h2{
    line-height: 32px; margin:0.5rem;
}

.about-us-quote-source {
    text-align: right; font-size: 18pt;
}

img {max-width:100%;}
